<!DOCTYPE html>
<html lang="en">
<head>
  <title> ADD YOUR TOKIMON </title>
  <link rel="stylesheet" href="/stylesheets/AddTokimon.css" type="text/css" media="all">
  <script type="text/javascript" src="/js/tokimon.js" defer> </script>
  <button type="button" class="homeBut" id="homeButton">
      <a class="homeB" id="homel" href="/"> <h6>Home</h6> </a>
  </button>
</head>
<body>
  <h1>ADD YOUR TOKIMON!</h1>
  <p> Make sure every field is filled! Or your Tokimon will not count!</p>
    <form class = "tokimonForm" action="/submit" method="post">
            <label> Trainer Name:</label>  <input  id = "trn" type="text" name="trname" placeholder="Text" required><br>
            <label> Tokimon Name:</label>  <input id = "tn" type="text" name="tokiname" placeholder="Text" required><br>
            <label> Weight:  </label>  <input id = "w" type="number" name="we" autocomplete="off" placeholder="Number" min="1" required><br>
            <label> Height:  </label>  <input id ="h" type="number" name="he" placeholder="Number" min="1" required><br>
            <label> Fly:  </label>  <input id ="fl" type="number" name="fl"placeholder="Number" min="0" max="100" required><br>
            <label> Fight:  </label>  <input id="fig" type="number" name="fig" placeholder="Number" min="0" max="100" required><br>
            <label> Fire:  </label>  <input id="fi" type="number" name="fi" placeholder="Number" min="0" max="100" required><br>
            <label> Water:  </label>  <input id="wa" type="number" name="wa" placeholder="Number" min="0" max="100" required><br>
            <label> Electric:  </label>  <input id="e" type="number" name="el" placeholder="Number" min="0" max="100" required><br>
            <label> Frozen:  </label>  <input id="fr" type="number" name="fr" placeholder="Number" min="0" max="100" required><br> 
            <label></label>  <button class="subBut" id="subBut" type="submit"> Submit </button>      
    </form>
    </body> 
</html>
