<!DOCTYPE html>
<html lang="en">
<head>
  <title> ADD YOUR TOKIMON </title>
  <link rel="stylesheet" href="/stylesheets/AddTokimon.css" type="text/css" media="all">
</head>
<body>
  <h1>ADD YOUR TOKIMON!</h1>
    <form class = "tokimonForm">
            Trainer Name:  <input id = "trn" type="text" name="fname"><br>
            Tokimon Name:  <input id = "tn" type="text" name="lname"><br>
            Weight:  <input id = "w" type="number" name="email" autocomplete="off"><br>
            Height:  <input id ="h" type="number" name="lname"><br>
            Fly:  <input id ="fl" type="number" name="lname"><br>
            Fire:  <input id="fi" type="number" name="lname"><br>
            Water:  <input  id="wa" type="number" name="lname"><br>
            Electric:  <input id="e" type="number" name="lname"><br>
            Frozen:  <input id="fr" type="number" name="lname"><br>
            Total:  
            <input type="submit">
    </form>
    </body> 
</html>
