<!DOCTYPE html>
<html lang="en">
<head>
  <title> ADD YOUR TOKIMON </title>
  <link rel="stylesheet" href="/stylesheets/AddTokimon.css" type="text/css" media="all">
</head>
<body>
  <h1>ADD YOUR TOKIMON!</h1>
    <form class = "tokimonForm">
            Trainer Name:  <input id = "trn" type="text" name="Trname" placeholder="Toki Trainer" required><br>
            Tokimon Name:  <input id = "tn" type="text" name="Tokiname" placeholder="Toki" required><br>
            Weight:  <input id = "w" type="number" name="We" autocomplete="off"  placeholder=50 pattern="[0-9]" min="1"><br>
            Height:  <input id ="h" type="number" name="He" placeholder=30 pattern="[0-9]" min="1"><br>
            Fly:  <input id ="fl" type="number" name="Fl "placeholder=50 pattern="[0-9]" min="0" max="100"><br>
            Fire:  <input id="fi" type="number" name="Fi" placeholder=50 pattern="[0-9]" min="0" max="100"><br>
            Water:  <input  id="wa" type="number" name="Wa" placeholder=50 pattern="[0-9]" min="0" max="100"><br>
            Electric:  <input id="e" type="number" name="El" placeholder=50 pattern="[0-9]" min="0" max="100"><br>
            Frozen:  <input id="fr" type="number" name="Fr" placeholder=50 pattern="[0-9]" min="0" max="100"><br>
            Total:  <input class="inputs" id="total" type="number" name="tot" placeholder=50 pattern="[0-9]" min="0" max="600" readonly><br>
          
            <input type="submit">
    </form>
    </body> 
</html>
