<!DOCTYPE html>
<html lang="en">
<head>
  <title> ADD YOUR TOKIMON </title>
  <link rel="stylesheet" href="/stylesheets/AddTokimon.css" type="text/css" media="all">
</head>
<body>
  <h1>ADD YOUR TOKIMON!</h1>
    <form class = "tokimonForm">
            <label> Name:</label>  <input  id = "trn" type="text" name="Trname" placeholder="Text" required><br>
            <label> Tokimon Name:</label>  <input id = "tn" type="text" name="Tokiname" placeholder="Text" required><br>
            <label> Weight:  </label>  <input id = "w" type="number" name="We" autocomplete="off"  placeholder="Number" pattern="[0-9]" min="1"><br>
            <label> Height:  </label>  <input id ="h" type="number" name="He" placeholder="Number" pattern="[0-9]" min="1"><br>
            <label> Fly:  </label>  <input id ="fl" type="number" name="Fl "placeholder="Number" pattern="[0-9]" min="0" max="100"><br>
            <label> Fire:  </label>  <input id="fi" type="number" name="Fi" placeholder="Number" pattern="[0-9]" min="0" max="100"><br>
            <label> Water:  </label>  <input id="wa" type="number" name="Wa" placeholder="Number" pattern="[0-9]" min="0" max="100"><br>
            <label> Electric:  </label>  <input id="e" type="number" name="El" placeholder="Number" pattern="[0-9]" min="0" max="100"><br>
            <label> Frozen:  </label>  <input id="fr" type="number" name="Fr" placeholder="Number" pattern="[0-9]" min="0" max="100"><br>
            <label> Total:  </label>  <input class="inputs" id="total" type="number" name="tot" placeholder="Total" pattern="[0-9]" min="0" max="600" readonly><br>
          
            <label></label>  <input id= "sub" type="submit">
    </form>
    </body> 
</html>
