<!DOCTYPE html>
<html lang="en">
<head>
  <title> ADD YOUR TOKIMON </title>
  <link rel="stylesheet" href="/stylesheets/AddTokimon.css" type="text/css" media="all">
</head>
<body>
  <h1>ADD YOUR TOKIMON!</h1>
    <form class = "tokimonForm">
            Trainer Name:  <input align = middle id = "trn" type="text" name="Trname" placeholder="Text" required><br>
            Tokimon Name:  <input align = middle id = "tn" type="text" name="Tokiname" placeholder="Tet" required><br>
            Weight:  <input align = middle id = "w" type="number" name="We" autocomplete="off"  placeholder="int" pattern="[0-9]" min="1"><br>
            Height:  <input align = middle id ="h" type="number" name="He" placeholder="int" pattern="[0-9]" min="1"><br>
            Fly:  <input align = middle id ="fl" type="number" name="Fl "placeholder="int" pattern="[0-9]" min="0" max="100"><br>
            Fire:  <input align = middle id="fi" type="number" name="Fi" placeholder="int" pattern="[0-9]" min="0" max="100"><br>
            Water:  <input align = middle id="wa" type="number" name="Wa" placeholder="int" pattern="[0-9]" min="0" max="100"><br>
            Electric:  <input align = middle id="e" type="number" name="El" placeholder="int" pattern="[0-9]" min="0" max="100"><br>
            Frozen:  <input align = middle id="fr" type="number" name="Fr" placeholder="int" pattern="[0-9]" min="0" max="100"><br>
            Total:  <input align = middle class="inputs" id="total" type="number" name="tot" placeholder="int" pattern="[0-9]" min="0" max="600" readonly><br>
          
            <input type="submit">
    </form>
    </body> 
</html>
