<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title> CMPT276 Assignment 2 </title>
    <link rel="stylesheet" href="/stylesheets/add.css" type="text/css" media="all">
    <script type="text/javascript" src="/js/tokimon.js" defer> </script>
</head>
<body>
    <div id="backgroundDiv">
            <div id="navigationBar">
                <ul>
                    <li> 
                        <button type="button" class="navigationButton" id="homeButton">
                        <a class="nagivationLink" id="navigationHome" href="/"> <h6>Home</h6> </a>
                        </button>
                    </li>
                    <li> 
                        <button type="button" class="navigationButton" id="addButton">
                        <a class="nagivationLink" id="navigationAdd" href="/add"> <h6>Add Tokimon</h6> </a>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="navigationButton" id="displayButton">
                        <a class="nagivationLink" id="navigationDisplay" href="/display"> <h6>Display All Tokimon</h6></a>
                        </button>
                    </li>
                </ul>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/vYAHFpclnYc?rel=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</body>
</html>