<!DOCTYPE html>
<html lang="en">
<head>
  <title> BYE BYE TOKIMON</title>
  <link rel="stylesheet" href="/stylesheets/remove.css" type="text/css" media="all">
  <script type="text/javascript" src="/js/tokimon.js" defer> </script>
  <button type="button" class="homeBut" id="homeButton">
      <a class="homeB" id="homel" href="/"> <h6>Home</h6> </a>
  </button>
</head>
<body>
    
        <div class="tenor-gif-embed" data-postid="5498982" data-share-method="host" data-width="100%" data-aspect-ratio="1.4821428571428572"><a href="https://tenor.com/view/pokemon-gif-5498982">Sad Goodbye GIF</a> from <a href="https://tenor.com/search/pokemon-gifs">Pokemon GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </body> 
</html>
