<!DOCTYPE html>
<html lang="en">
<head>
  <title> TOKIMON </title>
  <link rel="stylesheet" href="/stylesheets/tokimon.css" type="text/css" media="all">

</head>
<body>
  <bgsound>
<iframe width="400" height="250" src="https://www.youtube.com/embed/rg6CiPI6h2g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </bgsound>
      <div class = "heading">
        <h1> TOKIMON</h1>
        <h2> Gotta Catch 'em All! </h2>
      </div>

      <div class = "content">
        <button id = "but1"> 
          <div class="block b1"> 
              <a href="/trainer">TOKIMON TRAINER</a>
          </div>
         
        </button>
        <button id = "but2"> 
        <div class="block b2"><a href="/AddTokimon">ADD TOKIMON</a></div>
        </button>
        <button id ="but3"> 
        <div class="block b3"><a href="/database">DATABASE</a></div>
        </button>
        <button id ="but4">
        <div class="block b4">YOUR OWN TOKIDECK!</div>
        </button>
        <script type="text/javascript">
      </script>
      </div>
</body>
</html>

