<!DOCTYPE html>
<html lang="en">
<head>
  <title> TOKIMON </title>
  <link rel="stylesheet" href="/stylesheets/tokimon.css" type="text/css" media="all">
  <script type="text/javascript" src="/js/tokimon.js" defer> </script>
</head>
<body>
  <bgsound>
<iframe width="500" height="315" src="https://www.youtube.com/embed/rg6CiPI6h2g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </bgsound>
      <div class = "heading">
        <h1> TOKIMON</h1>
        <h2> Gotta Catch 'em All! </h2>
      </div>

      <div class = "content">
        <button id = "but1"> 
        <div class="block b1"> TOKIMON TRAINER</div>
        </button>
        <script type="text/javascript">
          document.getElementById("but1").onclick = function () {
              location.href = "https://hidden-peak-26538.herokuapp.com/trainer";
          };
      </script>

        <button id = "but2"> 
        <div class="block b2">ADD A TOKIMON</div>
        </button>
        <script type="text/javascript">
          document.getElementById("but2").onclick = function () {
              location.href = "https://hidden-peak-26538.herokuapp.com/AddTokimon";
          };
      </script>
        <button id ="but3"> 
        <div class="block b3">DATABASE</div>
        </button>
        <script type="text/javascript">
          document.getElementById("but3").onclick = function () {
              location.href = "https://hidden-peak-26538.herokuapp.com/database";
          };
      </script>
        <button id ="but4">
        <div class="block b4">CAPTURED</div>
        </button>
        <script type="text/javascript">
      </script>
      </div>


</body>
</html>

