<!DOCTYPE html>
<html lang="en">
<head>
  <title> TOKIMON </title>
  <link rel = "stylesheet" href = "tokimon.css">
</head>
<body>
  <bgsound>
<iframe width="1420" height="315" src="https://www.youtube.com/embed/rg6CiPI6h2g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </bgsound>
      <div class = "heading">
        <h1> TOKIMON</h1>
        <h2> Gotta Catch 'em All! </h2>
      </div>

      <div class = "content">
        <button id = "but1"> 
        <div class="block b1"> TOKIMON TRAINER</div>
        </button>
        <script type="text/javascript">
          document.getElementById("but1").onclick = function () {
              location.href = "file:///Users/noraabbassi-mohadjel/CMPT276/Assignment2/trainer.html";
          };
      </script>

        <button id = "but2"> 
        <div class="block b2">ADD A TOKIMON</div>
        </button>
        <script type="text/javascript">
          document.getElementById("but2").onclick = function () {
              location.href = "file:///Users/noraabbassi-mohadjel/CMPT276/Assignment2/AddTokimon.html";
          };
      </script>
        <button id ="but3"> 
        <div class="block b3">DATABASE</div>
        </button>
        <script type="text/javascript">
          document.getElementById("but3").onclick = function () {
              location.href = "file:///Users/noraabbassi-mohadjel/CMPT276/Assignment2/tokimon.html";
          };
      </script>
        <button id ="but4">
        <div class="block b4">CAPTURED</div>
        </button>
        <script type="text/javascript">
          document.getElementById("but4").onclick = function () {
              location.href = "file:///Users/noraabbassi-mohadjel/CMPT276/Assignment2/tokimon.html";
          };
      </script>
      </div>


</body>
</html>

