
<!DOCTYPE html>
<html lang="en">
<head>
    <button type="button" class="homeBut" id="homeButton">
        <a class="homeB" id="homel" href="/"> <h6>Home</h6> </a>
    </button>
  <link rel="stylesheet" href="/stylesheets/trainer.css" type="text/css" media="all">
</head>
<body>
    <form class = "trainer">
        <h1> MEET YOUR TRAINER</h1>

    </form>
</body> 
</html>
