
<!DOCTYPE html>
<html lang="en">
<head>
    <button type="button" class="homeBut" id="homeButton">
        <a class="homeB" id="homel" href="/"> <h6>Home</h6> </a>
    </button>
  <link rel="stylesheet" href="/stylesheets/trainer.css" type="text/css" media="all">
</head>
<body>
        <h1> MEET YOUR TRAINER</h1>
        <iframe src="https://giphy.com/embed/zu4jGaJVZDmZG" width="900" height="900" frameBorder="0" class="giphy-embed" align="center" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/pokemon-ash-ketchum-zu4jGaJVZDmZG">via GIPHY</a></p>
</body> 
</html>
