
<!DOCTYPE html>
<html lang="en">
<head>
  <div class="tit">
  <title> Meet your trainer</title>
</div>
  <link rel="stylesheet" href="/stylesheets/trainer.css" type="text/css" media="all">
</head>
<body>
    <form class = "trainer">
        <h1> MEET YOUR TRAINER</h1>

    </form>
</body> 
</html>
