body{

    background-image: url("/pictures/pokemon-wallpaper-5.jpg");
    
}

h1{
    color: white;
    padding-left: 70px;
}
input{
    padding: 13px;
    width: 15% ;
      margin: 5px 0px 3px 0px;
      box-sizing: border-box;
      border-radius: 3px;
    border: 1px solid #c4c4c4;
    
}

#sub{
    padding-right: 10px;
}
form{
    color: white;
    
}

label{
    width: 240px;
    display: inline-block;
    text-align: right;
}
