:root{
    --background_color: #FFFFFF;
    --navigation_background_color: #EAE7E7;
    --navigation_button_color: #FFFFFF;

    --normal_color: #C6C6A7;
    --flying_color: #EE99AC;
    --fighting_color: #A29288;
    --fire_color: #F5AC78;
    --water_color: #9DB7F5;
    --electric_color: #FAE078;
    --ice_color: #BCE6E6;
    --white: #FFFFFF;
    --border_color: #FFDE00;
    --gold_color: #B3A125;
}

body {
    margin: 0;
    padding: 0;
}

.description {
    padding: 0em 0em 0em 1em;
}

#backgroundDiv {
    display: block;
    position: relative;
    min-height: 60em;
}

#backgroundDiv::after {
    content: "";
    background-image: url("../pictures/Pokeball.png");
    background-size: 10%;
    opacity: 0.1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    position: absolute;
}

#navigationBar {
    background-color: var(--navigation_background_color);
    padding: 0em 0em 0em 0em;
    margin: 0;
    width: 100%;
    font-size: 0;
}

li {
    display: inline;
}

.navigationButton {
    background-color: var(--navigation_background_color);
    border: none;
    padding: 0em 1em 0em 0em;
    margin: .25em 0em .25em 0em;
}

h6 {
    font-size: 2em;
    padding: .5em 1em .5em 0em;
    margin: 0em;
    color: black;
}

/* CSS Styles for Add page */

#displayDescription {
    padding: 0em 0em 0em 3em;
}

table {
    margin: 1em auto auto auto;
    padding: 1em;
    border: 5pt solid var(--border_color);
    background-color: white;
}

th {
    background-color: white;
    border: 1pt solid black;
    width: 5em;
}

#selectHeader {
    width: 4em;
}

#viewHeader {
    width: 4em;
}

#idHeader {
    width: 6em;
}

#nameHeader {
    width: 10em;
}

#elementHeader {
    width: 8em;
}

#trainerHeader {
    width: 10em;
}

td {
    text-align: center;
}

#buttonArea {
    text-align: center;
}