:root{
    --background_color: #FFFFFF;
    --navigation_background_color: #EAE7E7;
    --navigation_button_color: #FFFFFF;

    --normal_color: #C6C6A7;
    --flying_color: #EE99AC;
    --fighting_color: #A29288;
    --fire_color: #F5AC78;
    --water_color: #9DB7F5;
    --electric_color: #FAE078;
    --ice_color: #BCE6E6;
    --white: #FFFFFF;
    --border_color: rgb(147, 215, 255);
    --gold_color: #B3A125;
}
h1{
    margin-top:0px;
	text-align: center;
	color: white;
	font-size: 72px;
}
body {
    margin: 0;
    padding: 0;
    background: url("/pictures/4.jpg");
}

.description {
    padding: 0em 0em 0em 1em;
}

#backgroundDiv {
    display: block;
    position: relative;
    min-height: 60em;
}


#navigationBar {
    background-color: var(--navigation_background_color);
    padding: 0em 0em 0em 0em;
    margin: 0;
    width: 100%;
    font-size: 0;
}
p{
    text-align: center;
    color: white;
    font-size: 52px;
}

li {
    display: inline;
}

.navigationButton {
    background-color: var(--navigation_background_color);
    border: none;
    padding: 0em 1em 0em 0em;
    margin: .25em 0em .25em 0em;
}

h6 {
    font-size: 2em;
    padding: .5em 1em .5em 0em;
    margin: 0em;
    color: black;
}

/* CSS Styles for Add page */

#displayDescription {
    padding: 0em 0em 0em 3em;
}

table {
    margin: 1em auto auto auto;
    padding: 1em;
    border: 5pt solid var(--border_color);
    background-color: white;
}

th {
    background-color: white;
    border: 1pt solid rgb(147, 215, 255);
    width: 5em;
}